.about {
    display       : inline-flex;
    min-height    : fit-content;
    padding-bottom: 50px;


    .title {
        width: 260px;
    }

    .CV-container {
        display      : flex;
        align-items  : center;
        justify-items: center;
        padding-top  : 40px;

        .cv {
            font-size  : large;
            font-weight: 600;
        }

        .myButton {
            margin-left: 30px;
            font-size: medium;
        }
    }

    .question {
        color: #007bff;
    }

    .profile-picture {

        width     : 450px;
        height    : 500px;
        margin-top: 50px;

        border-radius     : 20px;
        border            : 5px solid #484848;
        -webkit-box-shadow: 15px 11px 15px 5px #000000;
        box-shadow        : 15px 11px 15px 5px #000000;

    }




    .about-content {
        margin-top : 200px;
        margin-left: 80px;
        max-width  : 650px;

        .about-me {
            margin-top    : 15px;
            padding-bottom: 20px;
            font-size     : large;
            color         : rgba(66, 66, 66, 0.95);
            border-bottom : 1px solid rgba(161, 161, 161, 0.95);
        }


        .about-me-table {
            width        : 100%;
            padding-top  : 20px;
            border-bottom: 1px solid rgba(161, 161, 161, 0.95);

            tr {
                justify-content: space-between;
            }

            td {
                height        : 70px;
                width         : 240px;
                min-width     : min-content;
                word-wrap     : break-word;
                font-size     : large;
                font-weight   : 600;
                padding-bottom: 20px;

            }

            .first-column {
                width: 130px;
            }

            .link {
                color          : #007bff;
                text-decoration: none;
                font-weight    : 600;
            }


        }
    }

    @media (max-width: 1630px) {
        .profile-picture {
            width : 250px;
            height: 300px;
        }

        .about-content {
            max-width: 600px;
            width    : 55vw;

            margin-top   : 50px;
            margin-bottom: 50px;
            margin-right : 50px;
        }
    }

    @media screen and (max-width: 950px) {
        .myButton {
            display        : flex;
            height         : 36px;
            justify-content: center;
            align-items    : center;
        }
    }

}

@media screen and (max-width: 950px) {
    .title {
        width: auto !important;
    }

    .about {
        display   : block;
        text-align: center;

    }

    .about-content {
        text-align: center !important;
        margin    : 0 auto !important;
        width     : 100% !important;
        max-width : 90% !important;
    }

    .about-me {
        text-align: justify;
    }

    .question {
        padding-top: 50px;
    }




}