.about {
    display: inline-flex;

    .CV-container {
        display: flex;

        .cv {
            padding-top: 40px;
            font-size  : large;
            font-weight: 600;
        }
    }

    .question {
        color: #007bff;
    }

    .profile-picture {

        width     : 450px;
        height    : 500px;
        margin-top: 50px;

        border-radius     : 20px;
        border            : 5px solid #484848;
        -webkit-box-shadow: 15px 11px 15px 5px #000000;
        box-shadow        : 15px 11px 15px 5px #000000;

    }

    .myButton {
        margin-left: 60px;
        margin-top: 30px;
        font-size: medium;
    }


    .about-content {
        margin-top : 200px;
        margin-left: 80px;
        width      : 650px;

        .about-me {
            margin-top    : 15px;
            padding-bottom: 100px;
            font-size     : large;
            color         : rgba(66, 66, 66, 0.95);
            border-bottom : 1px solid rgba(161, 161, 161, 0.95);
        }


        .about-me-table {
            padding-top  : 20px;
            border-bottom: 1px solid rgba(161, 161, 161, 0.95);


            td {
                font-size     : large;
                font-weight   : 600;
                width         : 70px;
                padding-bottom: 20px;

            }

            .link {
                color          : #007bff;
                text-decoration: none;
                font-weight    : 600;

            }

            .table-text {
                font-size   : large;
                font-weight : 600;
                margin-right: 120px;
                color       : rgba(66, 66, 66, 0.95);
            }
        }
    }
}