.contact {
    background-color: #f7f7f7;
    height          : fit-content;
    padding-bottom   : 50px;

    .myButton {
        margin-top: 50px;
        display: block;
    }
    .page-description{
        text-align: start;
    }

    .form {
        cursor          : auto;
        caret-color     : auto;
        margin-top      : 15px;
        background-color: #fff;
        border          : none;
        border-bottom   : 1px solid #d4d4d4;
        border-radius   : 0;
        font-size       : 14px;
        height          : 41px;
        padding         : 9px 14px;
    }

    .name {
        width       : calc(40% - 5px);
        margin-right: 10px;
    }

    .email {
        width: calc(40% - 5px);
    }

    .subject {
        width: 80%;
    }

    .message {
        width    : 80%;
        height   : 135px;
        font-size: 22px;

    }


    .thank-you {
        font-size  : 25px;
        color: #111;

        font-family    : Impact, Charcoal, sans-serif;
        letter-spacing : 5.2px;
        word-spacing   : -5px;
        font-weight    : 400;
        font-style     : italic;
        font-variant   : small-caps;
    }
}