.work-together {
    display: flex;

    background-color: #333;
    height          : 150px;
    width           : auto;
    padding-left    : 100px;

    .container {
        display: inline;

        .title {
            color    : white;
            font-size: 70px;
        }

        .description {

            font-size: 22px;
            color    : rgba(214, 214, 214, 0.95);
        }
    }

    .button-container {
        position       : relative;
        width          : 800px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        
    }

    .center {
        margin       : 0;
        position     : absolute;
        top          : 50%;
        left         : 50%;
        -ms-transform: translate(-50%, -50%);
        transform    : translate(-50%, -50%);
    }
}