.work-together {
    background-color: #333;
    height          : fit-content;
    padding         : 10px 0 10px 90px;

    .container {
        display        : flex;
        align-items    : center;
        justify-content: space-around;

        .title {
            color    : white;
            font-size: 70px;
        }

        .description {
            display  : inline-flex;
            font-size: 22px;
            color    : rgba(214, 214, 214, 0.95);
        }
    }

    .myButton {
        font-size: 1.9vw;
        display  : flex;
        height   : fit-content;
    }

    
@media (max-width:700px) {
    .title {
        font-size: 30px !important;
    }

  

        .myButton {
            padding  : 9px;
            font-size: 12px !important;
        }
    
}

}

@media (max-width: 1630px) {
    .work-together {
        padding-left: 50px;
    }
}

@media (max-width:1374px) {
    .description {
        font-size: 1.6vw !important;
    }

    .title {
        font-size: 4vw !important;
    }
}
@media (max-width:1000px) {
    .description {
        font-size: 15px !important;
    }

    .title {
        font-size: 40px !important;
    }
}
