.work-together {
    display: flex;

    background-color: #333;
    height          : 150px;
    padding-left    : 100px;

    .container {
        display: inline;
        
        .title {
            color    : white;
            font-size: 70px;
        }

        .description {
            font-size: 22px;
            color    : rgba(214, 214, 214, 0.95);
        }
    }

    .button-container {
        position       : relative;
        width          : 40vw;
        display        : flex;
        justify-content: center;
        align-items    : center;
        
    }

}