.skills {
    background-color: #f7f7f7;
    height: fit-content;
    padding-bottom: 50px;

    .card-holder {
        width: inherit;
        display: grid;
 
        grid-template-columns: repeat(3, 1fr);
         
        grid-auto-rows: auto;
         
        grid-gap: 1rem;


        padding-top    : 35px;
        text-align     : center;
        justify-content: space-between;
    }







    .skill-card {
        background-color: white;
        position        : relative;
        padding         : 20px;
        width           : 350px;
        height          : 200px;
        border          : 1px solid rgb(200, 200, 200);
        margin-top      : 45px;


        .card-image {
            position : absolute;
            top      : 30%;
            left     : 50%;
            transform: translate(-50%, -50%);

        }

        .card-title {
            font-size:25px;
            position: relative;
            top     : 50%;
        }

        .card-description {
            position: relative;
            top     : 85px;
            color   : rgba(66, 66, 66, 0.95);

        }
    }
}