.skills {
    background-color: #f7f7f7;
    height          : fit-content;
    padding-bottom  : 100px;

    .page-description {
        text-align: start;
    }

    .card-holder {
        width  : inherit;
        display: grid;

        grid-template-columns: repeat(3, 1fr);

        grid-auto-rows: auto;
        grid-gap      : 1rem;

        padding-top    : 35px;
        text-align     : center;
        justify-content: space-between;
    }

    
}

@media screen and (max-width:1374px) {

    div .card-holder {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-auto-rows       : auto;
        grid-gap             : 1em;


    }

}

@media screen and (max-width:786px) {

    div .card-holder {
        grid-template-columns: repeat(1, 1fr) !important;

        justify-content: center !important;
        justify-items: center;
    }
    div .title{
        text-align: center;
    }
    div .page-description{
        text-align: center !important;
    }

}
