* {
  margin : 0;
  padding: 0;
  cursor: default;
  caret-color: rgba(0,0,0,0);
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
a{
  cursor: pointer;
}
.container {
  display: flex;
}
.page{
  width: 100%;
}
.page-centering {
  padding-left:200px;
  /* padding-left : 15px;
  padding-right   : 15px; */
  /* width           : 100%; */
}


.page-title {
  padding-top: 40px;
  font-size  : 55px;
}

.page-description {
  text-align: center;
  font-size : large;
  color     : #333;
}

.center {
  display     : block;
  margin-left : auto;
  margin-right: auto;
  width       : 50%;
}

.side-bar {
  width: 225px;
}

.contents {
  flex: 1;
  /* height: 100%; */
}



/* button */
.myButton {
 
  cursor             : pointer;
  background-color   : #007bff;
  border-radius      : 32px;
  color              : white;
  font-family        : Arial;
  font-size          : 27px;
  font-style         : italic;
  padding            : 10px 60px;
  text-decoration    : none;
}

.myButton:hover {
  background-color: #0365ce;
  color           : black;
}

.myButton:active {
  position: relative;
  top     : 2px;
}

@media (max-width: 1630px) {

  .page-centering {
      padding-left: 50px;
  }
  .work-together{
      /* width:min-content; */
  }
}
