.portfolio {
    height       : fit-content;
    margin-bottom: 50px;

    .page-description {
        display: flex;
    }


    .profesional-projects {
        margin-top    : 50px;
        padding-bottom: 50px;
        margin-bottom : 20px;

        border-bottom: 1px solid rgba(161, 161, 161, 0.95);
    }

    .personal-projects {
        margin-top    : 50px;
        padding-bottom: 50px;
        margin-bottom : 20px;
    }




    
}